<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChikChak </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<!-- Main navigation -->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong>Chik Chak</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                    aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
                <form class="form-inline">
                    <div class="md-form my-0">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!-- Full Page Intro -->
    <div class="view"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->

        <div class="mask rgba-gradient align-items-center" style="-webkit-filter: blur(4px);">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft"
                         data-wow-delay="0.3s">
                        <hr class="hr-light">

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt=""
                             class="img-fluid">
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

        <form id="myform" method="post" action="/new">
            <div id="cover">
                <div class="tb">
                    <div class="td"><input type="text" name="desc"  id="desc" placeholder="Search" required></div>
                    <div class="td" id="s-cover">
                        <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>

                <div class="tb">
                    <div class="td">


                                    <!-- Large button groups (default and split) -->
               <select class="form-control" name="len" id="len" style="font-size: 48px">
                    <option>he</option>
                    <option>es</option>
                    <option>en</option>
                    <option>fr</option>
                    <option>ru</option>
                  </select>

                    </div>
                    <div class="td" id="s-cover">

                    </div>
                </div>

            </div>


        </form>

    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->
<main>
    <div class="container">

        <div id="list">

            <ul id="ul" style="display: inline-grid;  grid-template-columns: auto auto auto;">



            </ul>


        </div>
        <!--Grid row-->
        <div class="row py-5">
            <!--Grid column-->
            <div class="col-md-12 text-center">
                <p>Thank you !</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main Layout-->

<script>

  $("#myform").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.


      $('#ul').empty();


    const desc = document.getElementById("desc");
    const len = document.getElementById("len");

      console.log(desc.value);
      console.log(len.value);



    $.ajax({
           type: "POST",
           url: "/new",
           dataType: 'json',
           type: 'post',
           contentType: 'application/json',
           data: JSON.stringify({"desc" : desc.value ,"len": len.value}), // serializes the form's elements.
           success: function(data)
           {
               data.data.forEach(renderProductList)

           }
         });


});

   function renderProductList(element, index, arr) {

const card = `<div class="card bg-light mb-3" style="max-width: 18rem;">
<div class="card-header">Result number `+index+`</div>
    <div class="card-body">
        <p class="card-text">`+element.text+`</p>
        <p class="card-title"><a href=\`+element.url+\`>Link to source</a></p>

    </div>
</div>`;


            $("#ul").append(card);

        }

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>